*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
#app {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

@media only screen and (max-width: 800px) {
  #app {
    display: block;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .toggle-wrapper {
    align-self: flex-end;
  }
}
